-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: nyc_taxi_ads
-- ------------------------------------------------------
-- Server version	8.0.35

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `analysis_airport`
--

DROP TABLE IF EXISTS `analysis_airport`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_airport` (
  `stat_date` date DEFAULT NULL,
  `airport_trip` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `trip_ratio` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_borough_flow`
--

DROP TABLE IF EXISTS `analysis_borough_flow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_borough_flow` (
  `stat_date` date DEFAULT NULL,
  `pu_borough` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `do_borough` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `pickup_count` int DEFAULT NULL,
  `dropoff_count` int DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_distance_distribution`
--

DROP TABLE IF EXISTS `analysis_distance_distribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_distance_distribution` (
  `stat_date` date DEFAULT NULL,
  `distance_range` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `avg_distance` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_dropoff_hotspots`
--

DROP TABLE IF EXISTS `analysis_dropoff_hotspots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_dropoff_hotspots` (
  `stat_date` date DEFAULT NULL,
  `zone_name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `borough` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `service_zone` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_duration_distribution`
--

DROP TABLE IF EXISTS `analysis_duration_distribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_duration_distribution` (
  `stat_date` date DEFAULT NULL,
  `duration_range` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `avg_duration` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_fee_by_borough`
--

DROP TABLE IF EXISTS `analysis_fee_by_borough`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_fee_by_borough` (
  `stat_date` date DEFAULT NULL,
  `borough` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `avg_fare` double DEFAULT NULL,
  `total_tip` double DEFAULT NULL,
  `avg_tip` double DEFAULT NULL,
  `revenue_ratio` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_fee_by_taxi_type`
--

DROP TABLE IF EXISTS `analysis_fee_by_taxi_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_fee_by_taxi_type` (
  `stat_date` date DEFAULT NULL,
  `taxi_type` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `avg_fare` double DEFAULT NULL,
  `total_tip` double DEFAULT NULL,
  `avg_tip` double DEFAULT NULL,
  `tip_rate` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_fee_composition`
--

DROP TABLE IF EXISTS `analysis_fee_composition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_fee_composition` (
  `stat_date` date DEFAULT NULL,
  `fee_code` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `fee_name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `total_amount` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_fee_percentage`
--

DROP TABLE IF EXISTS `analysis_fee_percentage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_fee_percentage` (
  `stat_date` date DEFAULT NULL,
  `fee_code` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `fee_name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `percentage` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_fee_trend`
--

DROP TABLE IF EXISTS `analysis_fee_trend`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_fee_trend` (
  `stat_date` date DEFAULT NULL,
  `taxi_type` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `avg_fare` double DEFAULT NULL,
  `total_tip` double DEFAULT NULL,
  `avg_tip_rate` double DEFAULT NULL,
  `cashless_rate` double DEFAULT NULL,
  `revenue_growth` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_hourly_distribution`
--

DROP TABLE IF EXISTS `analysis_hourly_distribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_hourly_distribution` (
  `stat_date` date DEFAULT NULL,
  `hour_of_day` int DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `avg_fare` double DEFAULT NULL,
  `avg_tip` double DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_kpi_daily`
--

DROP TABLE IF EXISTS `analysis_kpi_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_kpi_daily` (
  `stat_date` date DEFAULT NULL,
  `total_trips` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `avg_fare` double DEFAULT NULL,
  `avg_distance` double DEFAULT NULL,
  `avg_duration` double DEFAULT NULL,
  `total_tip` double DEFAULT NULL,
  `avg_tip` double DEFAULT NULL,
  `airport_trips` int DEFAULT NULL,
  `peak_hour` int DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_passenger_distribution`
--

DROP TABLE IF EXISTS `analysis_passenger_distribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_passenger_distribution` (
  `stat_date` date DEFAULT NULL,
  `passenger_count` int DEFAULT NULL,
  `passenger_range` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_payment_analysis`
--

DROP TABLE IF EXISTS `analysis_payment_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_payment_analysis` (
  `stat_date` date DEFAULT NULL,
  `payment_name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `is_cashless` int DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `total_amount` int DEFAULT NULL,
  `avg_amount` int DEFAULT NULL,
  `total_tip` int DEFAULT NULL,
  `avg_tip` int DEFAULT NULL,
  `trip_ratio` int DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_pickup_hotspots`
--

DROP TABLE IF EXISTS `analysis_pickup_hotspots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_pickup_hotspots` (
  `stat_date` date DEFAULT NULL,
  `zone_name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `borough` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `service_zone` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_revenue_contribution`
--

DROP TABLE IF EXISTS `analysis_revenue_contribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_revenue_contribution` (
  `stat_date` date DEFAULT NULL,
  `pu_zone` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `revenue_ratio` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_vendor`
--

DROP TABLE IF EXISTS `analysis_vendor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_vendor` (
  `stat_date` date DEFAULT NULL,
  `vendor_name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `trip_count` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `avg_fare` double DEFAULT NULL,
  `avg_distance` double DEFAULT NULL,
  `revenue_ratio` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `analysis_weekday_analysis`
--

DROP TABLE IF EXISTS `analysis_weekday_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `analysis_weekday_analysis` (
  `stat_date` date DEFAULT NULL,
  `day_of_week` int DEFAULT NULL,
  `day_of_week_name` varchar(255) COLLATE utf8mb4_bin DEFAULT NULL,
  `total_trips` int DEFAULT NULL,
  `total_revenue` double DEFAULT NULL,
  `avg_fare` double DEFAULT NULL,
  `avg_distance` double DEFAULT NULL,
  `update_time` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-08  9:31:59
